<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccountName" value="hrmsappdiag"/>
    <add key="Key" value="2oP08EDpDqWVAg9l/KsE1CuhTFkO6O7ydd1jIoSAG7CM4VlduY+eJe/HQthImN63pbZD/OMgn513k15JFOICMQ=="/>
    <add key="ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=hrmsappdiag;AccountKey=2oP08EDpDqWVAg9l/KsE1CuhTFkO6O7ydd1jIoSAG7CM4VlduY+eJe/HQthImN63pbZD/OMgn513k15JFOICMQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>